# node modules
node_modules/

# artifacts
dist/
code-docs/

# local test files
test.yaml

# local test output
.nyc_output/
coverage/

# local terraform files
.terraform/
*.tfstate*

# misc
.DS_Store

# JetBrains artifacts
.idea/

# Python VENV
*/venv/
venv/