runtime_parameters:
  - name: AZURE_SERVICE_PRINCIPAL
    type: secret
    secretProvider: 
      type: KeyVault
      environment: azure
      vault: my-keyvault.vault.azure.net
    secretName: my_azure_secret
pre_onboard_enabled:
  - name: provision_rest
    type: inline
    commands:
      - /usr/bin/setdb provision.extramb 500
      - /usr/bin/setdb restjavad.useextramb true
  - name: provision_modules
    type: inline
    commands:
      - echo 'sys provision asm { level nominal }' >> bigip_base.conf
post_onboard_enabled: []
extension_packages:
    install_operations:
        - extensionType: do
          extensionVersion: 1.5.0
        - extensionType: as3
          extensionVersion: 3.13.0
extension_services:
    service_operations:
      - extensionType: do
        type: url
        value: https://cdn.f5.com/product/cloudsolutions/f5-azure-arm-templates/examples/modules/autoscale_bigip/do.json
      - extensionType: as3
        type: url
        value: https://cdn.f5.com/product/cloudsolutions/f5-azure-arm-templates/examples/modules/autoscale_bigip/as3.json