pre_onboard_enabled:
  - name: provision_rest
    type: inline
    commands:
      - /usr/bin/setdb provision.extramb 500
      - /usr/bin/setdb restjavad.useextramb true
extension_packages:
  install_operations:
    - extensionType: do
      extensionUrl: file:///var/config/rest/downloads/f5-declarative-onboarding-1.16.0-8.noarch.rpm
      extensionHash: 536eccb9dbf40aeabd31e64da8c5354b57d893286ddc6c075ecc9273fcca10a1
      extensionVersion: 1.16.0
    - extensionType: ilx
      extensionUrl: file:///var/config/rest/downloads/myIlxApp.rpm
      extensionVersion: 1.1.0
      extensionVerificationEndpoint: /mgmt/shared/myIlxApp/info
      extensionHash: de615341b91beaed59195dceefc122932580d517600afce1ba8d3770dfe42d28
extension_services:
  service_operations:
    - extensionType: do
      type: url
      value: file:///var/config/rest/downloads/do.json
